<!DOCTYPE html>

    
    



  <title>WebCampBackendNew</title><meta name="csrf-param" content="authenticity_token"><meta name="csrf-token" content="w+AMA2/5KDGWhPcOkcoW+SMWI9dT/7U5cwNNT8dY3MZUIiDamnQh+wdVJlBMlxRXM30NE/cA6PD74Hy2VlSWtA=="></head>

  <body>
    <h1>Editing Book</h1><form class="edit_book" id="edit_book_131067" action="/books/131067" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="gGeIoeKqV4hqk5FKoBxDxwurfrWX9zIIkFfMFjrP1uP2EP4oMGQE8WDBIquo3NsXORyxxwd6lIS5ZnCnw9K0NQ==">

  　<div class="field">
    <label for="book_title">Title</label>
    <input class="book_title" type="text" value="トラブル知らずのシステム設計" name="book[title]" id="book_title">
  　</div>

  <div class="field">
    <label for="book_body">Body</label>
    <textarea class="book_body" name="book[body]" id="book_body">システム設計の要点を図解で説明してくれます</textarea>
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Update Book" data-disable-with="Update Book">
  </div>
</form>

<a class="show_131067" href="/books/131067">Show</a> |
<a class="back" href="/books">Back</a>

  

</body></html>
