<!DOCTYPE html>
<html><head>
    
    


    
  <title>WebCampBackendNew</title><meta name="csrf-param" content="authenticity_token"><meta name="csrf-token" content="DvSV8pmmOVy6ex175+dJ/j1QC/dFCYA4kfIQ7OtEW3yZNrkrbCswliuqzCU6uktQLTslM+H23fEZESEVekgRDg=="></head>

  <body>
    <p id="notice"></p>

<p>
  <strong>Title:</strong>
  トラブル知らずのシステム設計
</p>

<p>
  <strong>Body:</strong>
  システム設計の要点を図解で説明してくれます
</p>

<a class="edit_131067" href="/books/131067/edit">Edit</a> |
<a class="back" href="/books">Back</a>

 

</body></html>
